body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 800px;
    margin: auto;
}

.weekday {
    padding: 10px;
    position: relative;
    text-align: center;
}

.day {
    padding: 5px;
    border: 1px solid #ccc;
    min-height: 80px;
    position: relative;
    max-height: 80px;
}

.day0 {
    padding: 5px;
    border: 1px solid #ffffff;
    min-height: 80px;
    position: relative;
    max-height: 80px;
}

.day span {
    top: 5px;
    left: 5px;
    font-weight: bold;
}

.day:hover {
    background-color: #f0f0f0;
  }

.holiday {
    font-size: 0.8em;
    overflow: scroll;
    max-height: 65px;
}

#controls {
    text-align: center;
    margin: 20px;
}

#svetki {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

#calendar-container {
    display: flex;
    flex-direction: row;
}

#but1 {
    background-color: aliceblue;
    border: 1px solid #ccc;
    width: 100px;
    height: 40px;
    font-weight: bold;
}

#but1:hover {
    background-color: rgb(225, 239, 250);
    border: 1px solid #ccc;
    width: 100px;
    height: 40px;
    font-weight: bold;
}